spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bookingdb
    username: root
    password: admin2023
  application:
    name: booking-microservice
  # Cargar perfil de propiedades desde el config server
  cloud:
    config:
      profile: dev

server:
  port: 0

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.uuid}

